<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @plant.plant %>
</p>

<p>
  <strong>Type:</strong>
  <%= @plant.type %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @plant.picture %>
</p>

<p>
  <strong>Location:</strong>
  <%= @plant.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @plant.date %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
