<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@plant.picture_url, width: '100%') if @plant.picture.present? %>
  </div>

      <div class="col-md-3">
    <p><b>Name: </b><%= @plant.name %></p>
    <p><b>Description: </b><%= @plant.description %></p>
    <p>
      <%= link_to 'Edit', edit_plant_path(@plant) %> |
      <%= link_to 'Destroy', @plant, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', plants_path %>
    </p>
  </div>
</div>