<!DOCTYPE html>
<html>
  <head>
    <title>Plantmood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
    <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
    
  </head>

  <body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  <%= render "layouts/navbar" %>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    Plant Mood
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js">

  </body>
</html>
